{% extends 'Admin_index.html' %}
{% load static %}
{% block content %}

<div class="container " style="padding-top:270px;padding-bottom:50px;">
    <div class="row " >
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Ticket Bookings</h4>
                <div class="form-group">
                  <input type="text" class="form-control text-dark" style="color:black;" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" style="color:white;">
                   </div>
                <div class="table-responsive">
                    <table class="table table-hover " id="myTable">
                        <thead>
                            <tr>
                                <th>Sl.no</th>
                                <th>Name</th>
                                <th>Turf Name</th>
                                <th>Match Name</th>
                                <th>Ticket Price</th>
                                <th>Quantity</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Time</th>
                                
                              </tr>
                        </thead>
                        <tbody>
                            {% for i in ticketbook %}
                            <tr class="alert" role="alert">
                                <td>{{forloop.counter}}</td>
                                <td>
                                    {{i.turfuser_id}}
                                  
                                </td>
                                <td>{{i.turf.Turfname}}</td>
                                <td>{{i.matchname}}</td>
                                <td>{{i.Ticketprice}}</td>
                                <td>{{i.quantity}}</td>
                                <td>{{i.total}}</td>
                                <td>{{i.date|date:'d-m-Y'}}</td>
                                <td>{{i.fromtime}}</td>
                                
                              </tr>
                              {% endfor %}
                             
                        </tbody>
                      </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <script>
      function myFunction() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
              td = tr[i].getElementsByTagName("td")[1];
              if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                      tr[i].style.display = "";
                  } else {
                      tr[i].style.display = "none";
                  }
              }
          }
      }
    $(document).ready(function(){
    $('table tr').click(function(){
      window.location = $(this).data('href');
      return false;
      });
    });
    </script>

{% endblock %}