<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zxx"> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang="zxx"> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang="zxx"> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang="zxx"> <!--<![endif]-->


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Turf</title>

	{% load static %}


	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/transitions.css' %}">
	<link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}"
	<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/customScrollbar.css' %}">
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/color.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--************************************
			Wrapper Start
	*************************************-->
	<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
		<!--************************************
				Mobile Menu Start
		*************************************-->
		<div id="tg-navigationm-mobile" class="tg-navigationm-mobile tg-navigation collapse navbar-collapse">
			<span id="tg-close" class="tg-close fa fa-close"></span>
			<div class="tg-colhalf">
                <ul>
                    <li>
                        <a href="#">Main</a>
                        <ul class="tg-dropdown-menu">
                            <li><a href="index-2.html">home1</a></li>
                            <li><a href="index2.html">home2</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">team</a>
                        <ul class="tg-dropdown-menu">
                            <li><a href="playergrid-v1.html">playergrid-v1</a></li>
                            <li><a href="playergrid-v2.html">playergrid-v2</a></li>
                            <li><a href="playerdetail.html">playergrid detail</a></li>
                        </ul>
                    </li>
                    <li><a href="buyticket.html">Buy Tickets</a></li>
                    <li>
                        <a href="#">Match Results</a>
                        <ul class="tg-dropdown-menu">
                            <li><a href="matchresult.html">match result</a></li>
                            <li><a href="matchresultdetail.html">match result detail</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="tg-colhalf">
                <ul>
                    <li>
                        <a href="#">fixtures</a>
                        <ul class="tg-dropdown-menu">
                            <li><a href="fixtures.html">fixtures</a></li>
                            <li><a href="fixturedetail.html">fixture detail</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">pro soccer media</a>
                        <ul class="tg-dropdown-menu">
                            <li><a href="soccermedia-1.html">pro soccer media1</a></li>
                            <li><a href="soccermedia-2.html">pro soccer media2</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="contactus.html">Contact</a></li>
                    <li>
                        <a href="#"><i class=" fa fa-navicon"></i></a>
                        <ul>
                            <li><a href="aboutus.html">about us</a></li>
                            <li><a href="shoplist.html">shop list</a></li>
                            <li><a href="shopgrid.html">shop grid</a></li>
                            <li><a href="productsingle.html">shop detail</a></li>
                            <li><a href="bloglist.html">blog list</a></li>
                            <li><a href="bloggrid.html">blog grid</a></li>
                            <li><a href="blogdetail.html">blog detail</a></li>
                            <li><a href="404.html">404 error</a></li>
                            <li><a href="comming-soon.html">comming soon</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
		</div>
		<!--************************************
				Mobile Menu End
		*************************************-->
		<!--************************************
				Header Start
		*************************************-->
		<header id="tg-header" class="tg-header tg-haslayout">
			<div class="container">
				<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
					<div class="row">
						<div class="tg-topbar tg-haslayout">
							<nav id="tg-topaddnav" class="tg-topaddnav">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-addnavigationm-mobile">
										<i class="fa fa-arrow-right"></i>
									</button>
								</div>
								
								<div id="tg-addnavigationm-mobile" class="tg-addnavigationm-mobile collapse navbar-collapse">
									
									<div class="tg-colhalf pull-right">
										
										<nav class="tg-addnav">
											<ul>
												<li class="active">  
													<a href="{% url 'Admin_notification' %}"><button type="button" class="btn btn-primary "  style="margin-bottom:20px;">
														Notifications <span class="badge badge-light">{{ownercount}}</span>
													  </button></a>
												</li>
												<li class="active">  
													<a href="{% url 'Admin_logout' %}"><button type="button" class="btn btn-danger "  style="margin-bottom:20px;">
														Logout 
													  </button></a>
												</li>
									
												</ul></nav></div>
												<div class="tg-colhalf pull-right">
										<nav class="tg-addnav">
											<ul>
												
												<li class="active">
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													</li>
												
												
														
																<li class="active">
																	<a href="{% url 'log' %}">Login</a>
															
																		</li>
																		<li class="active">
																			<a href="{% url 'Admin_signupdetails' %}">Signup details</a>
																	
																				</li>
                                        </ul>
                                    </nav>
                                </div>
						<nav id="tg-nav" class="tg-nav brand-center">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigationm-mobile">
									<i class="fa fa-bars"></i>
								</button>
								<strong class="tg-logo">
									<a href="index-2.html"><img src="{% static 'images/logo.png' %}" alt="image description"></a>
								</strong>
							</div>
							<div id="tg-navigation" class="tg-navigation">
								<div class="tg-colhalf">
                                    <ul>
                                        <li class="active">
                                            <a href="{% url 'Admin_index' %}"> Home</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'Admin_Turf_requests' %}">Turfs Requests</a>
                                            
                                        </li>
									
                                       
									</ul>
                                </div>
                                <div class="tg-colhalf">
                                    <ul>
										<li>
                                            <a href="{% url 'Admin_view_matches' %}">Matches</a>
                                        </li>
									   
										 <li>
											<a href="{% url 'Admin_contact' %}">Contact Us</a>
											
										 </li>
									</ul>
                                    </ul>
                                </div> 
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<!--************************************
				Header End
		*************************************-->
		<!--************************************
				Home Slider Start
		*************************************-->
		<div class="tg-sliderbox">
			<div class="tg-imglayer">
				<img src="{% static 'images/bg-pattran.png' %}" alt="image desctription">
			</div>
			<div id="tg-home-slider" class="tg-home-slider tg-haslayout">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="container">
							<figure class="floating">
								<img src="{% static 'images/slider/img-01.png' %}"; alt="image description">
							</figure>
							<div class="tg-slider-content">
								<h1>PLAY WITH <span>PEACE</span></h1>
								<!-- <div class="tg-btnbox">
									<h2>from june 27</h2>
									<a class="tg-btn" href="#"><span>read more</span></a>
									<a class="tg-btn" href="#"><span>book my ticket</span></a>
								</div> -->
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="container">
							<figure class="floating">
								<img src="{% static 'images/slider/img-01.png' %}" alt="image description">
							</figure>
							<div class="tg-slider-content">
								<h1>PLAY WITH <span>HEART</span></h1>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="container">
							<figure class="floating">
								<img src="{% static 'images/slider/img-01.png' }" alt="image description">
							</figure>
							<div class="tg-slider-content">
								<h1>PLAY WITH <span>HEART</span></h1>
								<!-- <div class="tg-btnbox">
									<h2>from june 27</h2>
									<a class="tg-btn" href="#"><span>read more</span></a>
									<a class="tg-btn" href="#"><span>book my ticket</span></a>
								</div> -->
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="tg-btn-next">
					<span>next</span>
					<span class="fa fa-angle-down"></span>
				</div>
				<div class="tg-btn-prev">
					<span>prev</span>
					<span class="fa fa-angle-down"></span>
				</div> -->
			</div>
		</div>
		<!--************************************
				Home Slider End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout">
			<!--************************************
					About Us Start
			*************************************-->
			<section class="tg-main-section tg-haslayout">
				<!-- <div class="container">
					<div class="tg-section-name">
						<h2>About pro soccer</h2>
					</div> -->
					<!-- <div class="col-sm-11 col-xs-11 pull-right">
						<div class="row">
							<div class="tg-aboutussection">
								<div class="row">
									<div class="col-md-6 col-sm-12 col-xs-12">
										<figure>
											<img src="{% static 'images/hello.jpg' %}" alt="image description">
										</figure>
									</div>
									<div class="col-md-6 col-sm-12 col-xs-12">
										<div class="tg-contentbox">
											<div class="tg-section-heading"><h2>PURPOSE OF TURFS</h2></div>
											<div class="tg-description">
												<p>Plants take up carbon dioxide and release oxygen into the atmosphere and grass is no exception. Well-managed turfgrass can also help reduce pollen production by preventing the growth of weedy species which produce significant amounts of airborne pollen.
													The top factor for a playground surface is the level of fall protection it achieves. When installed with the proper padding and infill, synthetic turf meets the American Standard Testing Methods (ASTM) standards and can provide excellent shock absorption<br>Turfgrass Reduces Runoff,It Prevent Erosion,It Replenishes Air and have so many benifits<br>turf, in horticulture, the surface layer of soil with its matted, dense vegetation, usually grasses grown for ornamental or recreational use. Such turf grasses include Kentucky bluegrass, creeping bent grass, fine or red fescue, and perennial ryegrass among the popular cool-season types and Bermuda grass, zoysia grass, and St. Augustine grass among the warm-season types.</p>
											</div>
											<div class="tg-btnbox">
												<a class="tg-btn" href="https://en.wikipedia.org/wiki/Artificial_turf"><span>READ MORE</span></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> -->
				</div>
			</section>
			<!--************************************
					About Us End
			*************************************-->
			<!--************************************
					Upcoming Match Start
			*************************************-->
			<section class=" tg-haslayout tg-bgstyleone">
				<div class="tg-bgboxone"></div>
				<div class="tg-bgboxtwo"></div>
				<div class="tg-bgpattrant">
					<div class="container">
						<div class="row">
							<div class="tg-upcomingmatch-counter">
								<div class="col-md-4 col-sm-4 col-xs-12 hidden-xs">
									<figure>
										<img src="{% static 'images/hello.jpg' %}" alt="image description">
									</figure>
								</div>
								<div class="col-md-8 col-sm-8 col-xs-12">
									<div class="tg-contentbox">
										<div class="tg-section-heading"><h2>Sports Turf</h2></div>
										<div class="tg-description">
											<p>Artificial turf is a surface of synthetic fibers made to look like natural grass. It is most often used in arenas for sports that were originally or are normally played on grass. However, it is now being used on residential lawns and commercial applications as well. The main reason is maintenance – artificial turf stands up to heavy use, such as in sports, and requires no irrigation or trimming. Domed, covered, and partially covered stadiums may require artificial turf because of the difficulty of getting grass enough sunlight to stay healthy. Artificial turf does have its downside, however: limited life, periodic cleaning requirements, petroleum use, toxic chemicals from infill, and heightened health and safety concerns.</p>
										</div>
										<div class="tg-counters">
											<div class="tg-counter tg-days"></div>
											<div class="tg-counter tg-hours"></div>
											<div class="tg-counter tg-minutes"></div>
											<div class="tg-counter tg-seconds"></div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		

	<script src="js/vendor/jquery-library.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/customScrollbar.min.js"></script>
	<script src="js/owl.carousel.js"></script>
	<script src="js/isotope.pkgd.js"></script>
	<script src="js/prettyPhoto.js"></script>
	<script src="js/swiper.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/countTo.js"></script>
	<script src="js/appear.js"></script>
	<script src="js/main.js"></script>
</body>


</html>