{% extends 'Admin_index.html' %}
{% load static %}
{% block content %}


<div class="container " style="padding-top:270px;padding-bottom:50px;">
    <div class="row " >
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Notifications</h4>
                <div class="form-group">
                  <input type="text" class="form-control text-dark" style="color:black;" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" style="color:white;">
                   </div>
                <div class="table-responsive">
                    <table class="table table-hover " id="myTable">
                        <thead>
                            <tr>
                                <th>Sl.no</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Message Type</th>
                                <th>Message</th>
                                <th>Action</th>
                              </tr>
                        </thead>
                        <tbody >
                            {% for i in mess1 %}
                            <tr class="alert" role="alert">
                                <td>{{forloop.counter}}</td>
                                <td>{{i.name}}</td>
                                <td>{{i.email}}</td>
                                <td>{{i.message_type}}</td>
                                <td>{{i.message}}</td>
                                
                                <td><a href="#">
                                    <div class="btn btn btn-warning" data-toggle="modal"
                                        data-target="#myModal{{i.id}}">
                                        <i class=" text-warning mdi mdi-send btn-icon-prepend"></i>Reply
                                    </div>
        
                                </a>
                                </td>
                              </tr>
                              {% endfor %}
                             
                        </tbody>
                      </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

<!-- Modal -->
{% for i in mess1 %}
<div class="modal" id="myModal{{i.id}}" >
    <div class="modal-dialog">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 grid-margin stretch-card bg-dark text-light modal-content" style="background-color:grey;">

            <!-- Modal Header -->
            <div class="modal-header" >
                <h4 class="modal-title">Reply</h4>
                <button type="button " class="close " style="color:white;"
                    data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" >
                <form action="{% url 'Admin_messagereply' i.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body" >
                            <div class="row p-3">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                                    <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 form-control  text-light"
                                        style="height: 100px; background-color:white; " name="reply"
                                        rows="4"> </textarea>
                                </div>
                            </div>
                            <br>
                            <div  style="float:right;padding-bottom:20px;">
                                <button type="submit" 
                                    class="btn btn-outline-primary btn-icon-text ">
                                    <i class="text-primary mdi mdi-send btn-icon-prepend"></i>
                                    Send
                                </button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

{% endfor %}





   



   <div style="padding-top:50px!important;"></div>

       <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
       {% if msg_success %}
   <script>
       Swal.fire({
           position: 'center',
           icon: 'success',
           text: '{{ msg_success }}',
           showConfirmButton: false,
           timer: 3000
       }).then(function () {
           javascript: history.go(-2);
       })
       
   </script>
   {% endif %}
      

    {% endblock %}