{% extends 'Admin_index.html' %}
{% load static %}
{% block content %}
       
       
        <div class="container " style="padding-top:270px;padding-bottom:50px;">
            <div class="row " >
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Turf Requests</h4>
                        <div class="form-group">
                          <input type="text" class="form-control" style="color:black;" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" style="color:white;">
                           </div>
                        <div class="table-responsive">
                          <table class="table table-hover " >
                            <thead>
                                <tr>
                                    <th>Sl.no</th>
                                    <th>Turf Image</th>
                                    <th>Turf Name</th>
                                    <th>Location</th>
                                   
                                    <th>Sport</th>
                                    <th>Capacity</th>
                                    <th>Amenties</th>
                                    <th>Price</th>
                                    <th>Action</th>
                                  </tr>
                            </thead>
                            <tbody id="myTable" >
                              
                              {% for i in req1 %}
                              
                                <tr class="alert" role="alert">
                                    <td>{{forloop.counter}}</td>
                                    <td><img src="{{i.photo.url}}" style="width:100px!important;height:50px!important;"></td>
                                    <td>{{i.Turfname}}</td>
                                    <td>{{i.location}}</td>
                                    <td>{{i.sport}}</td>
                                    <td>{{i.capacity}}</td>
                                    <td>{{i.amenties}}</td>
                                    <td>{{i.Price}}</td>
                                    <td>
                                      {% if i.status == "0" %}
                                      <a href="{% url 'AdminTurfapprove' i.id %}">
                                        <div class="btn btn-success" >
                                            <i class="mdi mdi-check"></i>&nbsp; Approved
                                        </div>
                                    </a>
                                    <a href="{% url 'AdminTurfrejected' i.id %}">
                                    <div class="btn btn-danger" >
                                      <i class="mdi mdi-check"></i>&nbsp; Rejected
                                  </div>
                                </a>
                                       {% elif i.status == "approved" %}
                                       <div class="btn btn-success" >
                                        <i class="mdi mdi-check"></i>&nbsp; Approved
                                    </div>
                                    {% elif i.status == "rejected" %} 
                                    <div class="btn btn-danger" >
                                      <i class="mdi mdi-check"></i>&nbsp; Rejected
                                  </div>
								  {% endif %}
                                    </td>
                                  
                                  </tr>
                               
                                  {% endfor %}
                            
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>



            
  
          
            {%endblock%}

