{% extends 'Admin_Turf_requests.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="container " style="padding-top:270px;padding-bottom:50px;">
    <div class="row " >
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Registration details</h4>
                <div class="form-group">
                  <input type="text" class="form-control text-dark" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" style="color:white;">
                   </div>
                <div class="table-responsive">
                    <table class="table table-hover " id="myTable">
                        <thead>
                            <tr>
                                <th>Sl.no</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Place</th>
                                <th>Add Owner</th>
                                <th>Update</th>
                                <th>Delete</th>
                              </tr>
                        </thead>
                        <tbody>
                            {% for i in userreg %}
                            <tr class="alert" role="alert">
                                <td>{{forloop.counter}}</td>
                                <td>{{i.Firstname}}</td>
                                <td>{{i.email}}</td>
                                <td>{{i.mobile}}</td>
                                <td>{{i.place}}</td>
                                
                                <td> 
                                    {% if i.designation_id == 2 %}
                                    <a href="{% url 'Admin_addowner' i.id %}">
                                    <div class="btn btn-success" >
                                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Owner
                                    </div>
                                </a>
                                {% else %}
                                <div class="btn btn-primary" >
                                 &nbsp; User
                                </div>
                                {% endif %}
                                </td>
                                <td> <a href="{% url 'Admin_update' i.id %}">
                                    <div class="btn btn-warning" >
                                       &nbsp; Update
                                    </div>
                                </a>
                                </td>
                                <td> <a href="{% url 'Admin_delete' i.id %}">
                                    <div class="btn btn-danger" >
                                        &nbsp; Delete
                                    </div>
                                </a>
                                </td>
                              </tr>
                              {% endfor %}
                             
                        </tbody>
                      </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>


    <script>

        //js for submit button in new_team.html page
        function redirect() {
            window.location.href = "projectmanager_tlreported";
        }

        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
   

    {% endblock %}