{% extends 'Admin_Turf_requests.html' %}
{% load static %}
{% block content %}


<br><br><br><br>
<div style="padding-top:200px!important;"></div>
<div class="container p-5" style="background-color:antiquewhite;padding-top:30px!important;padding-bottom:30px!important;">
    <div><h2>Update</h2></div>
   
    
    <form action="{% url 'Admin_updatesave' c.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
<div class="row mt-5" style="padding-top:20px!important;">
    <div class="col-md-4">
        <label>First Name</label>
        <input type="text" class="form-control" name="firstname" required value="{{c.Firstname}}">
    </div>
    <div class="col-md-4">
        <label>Last Name</label>
        <input type="text" class="form-control" name="lastname" required value="{{c.Lastname}}">
    </div>
    <div class="col-md-4">
        <label>Email</label>
        <input type="email" class="form-control" name="email" required value="{{c.email}}">
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-4">
        <label>Place</label>
        <input type="text" class="form-control" name="place" required value="{{c.place}}">
    </div>
    <div class="col-md-4">
        <label>Address</label>
        <input type="text" class="form-control" name="address" required value="{{c.address}}">
    </div>
    <div class="col-md-4">
        <label>Phone Number</label>
        <input type="number" class="form-control" name="mobile" required value="{{c.mobile}}">
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-4">
        <label>Pincode</label>
        <input type="text" class="form-control" name="pincode" required value="{{c.pincode}}">
    </div>
    <div class="col-md-4">
        <label>Photo</label>
        <input type="file" style="height:48px;" class="form-control" name="files"  value="{{c.photo}}">
    </div>
    </div>
    <div class="row mt-5">
       <div class="col-md-9"></div>
       <div class="col-md-3">
       <button type="submit" class="btn btn-warning">Update</button>
    </div>
</div>
</form>

</div>

<div style="padding-top:50px!important;"></div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if msg_success %}
<script>
    Swal.fire({
        position: 'center',
        icon: 'success',
        text: '{{ msg_success }}',
        showConfirmButton: false,
        timer: 3000
    }).then(function () {
        javascript: history.go(-2);
    })
    
</script>
{% endif %}
   

    {% endblock %}