{% extends 'Admin_Turf_requests.html' %}
{% load static %}
{% block content %}

<main id="tg-main" class="tg-main tg-haslayout">
    <section class="tg-main-section tg-haslayout">
        <div class="container">
           
            <div class="col-sm-11 col-xs-11 pull-right">
                <div class="row">
                   <span><h2>Match Status : </h2></span> 
                   <a class="tg-btn" style="background-color:green;">Win</a>
                   <a class="tg-btn" style="background-color:gray;">Draw</a>
                   <a class="tg-btn" style="background-color:red;">Loss</a>
                </div>
                <div class="row" style="padding-top:30px;">
                    <div class="tg-tickets">
                        <div class="tg-ticket">
                            <time class="tg-matchdate" datetime="2016-05-03">27<span>june</span></time>
                            <div class="tg-matchdetail">
                                <span class="tg-theme-tag">English Premier League</span>
                                <h4>Lumberjacks <span>vs</span> Killer Whales</h4>
                                <ul class="tg-matchmetadata">
                                    <li><time datetime="2016-05-03">15:30 PM</time></li>
                                    <li><address>Soccer Stadium, Dubai</address></li>
                                </ul>
                            </div>
                            <div class="tg-btnsbox">
                                <a class="tg-btn " style="background-color:green;">Team1</a>
                                <a class="tg-btn" style="background-color:red;">Team2</a>
                            </div>
                        </div>
                        <div class="tg-ticket">
                            <time class="tg-matchdate" datetime="2016-05-03">27<span>june</span></time>
                            <div class="tg-matchdetail">
                                <span class="tg-theme-tag">English Premier League</span>
                                <h4>Lumberjacks <span>vs</span> Killer Whales</h4>
                                <ul class="tg-matchmetadata">
                                    <li><time datetime="2016-05-03">15:30 PM</time></li>
                                    <li><address>Soccer Stadium, Dubai</address></li>
                                </ul>
                            </div>
                            <div class="tg-btnsbox">
                                <a class="tg-btn" style="background-color:red;">Team1</a>
                                <a class="tg-btn" style="background-color:green;">Team2</a>
                            </div>
                        </div>
                        
                       
                       
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

    {% endblock %}