{% extends 'User_index.html' %}
{% load static %}

{%block content%}

    <!-- Page Content -->
    <div class="tg-banner tg-haslayout" style="padding-top: 20px;">
			<div class="tg-imglayer">
				<img src="{% static 'images/bg-pattran.png' %}" alt="image desctription">
			</div>
			<div class="container">
				<div class="row">
					<div class="tg-banner-content tg-haslayout">
						<div class="tg-pagetitle">
							<h1>Book your Turfs</h1>
						</div>
						<ol class="tg-breadcrumb">
							<li><a href="{% url 'ind' %}"></a></li>
							
						</ol>
					</div>
				</div>
			</div>
		</div>
   </div>

			
				<div class="row ">
					<div class="container mb-5" style="margin-bottom:50px;"> 
					<div class="col-md-3"></div>
					<div class="col-md-6" style="background-color: antiquewhite;padding:-top:30px;padding-bottom:30px;">
					<div class="booking-form" >
						<!-- <div class="booking-bg"></div> -->
						
							<div class="form-header">
								<h2>Book Your Turf</h2>
							</div>
							<form method="post" action="" enctype="multipart/form-data">
                                {% csrf_token %}
                            <div class="row">
								<div class="col-md-6">
									<div class="form-group">
                                        <span class="form-label">Enter your Date</span>
										<input class="form-control txtDate" type="date" required name="date">
										
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
                                        <span class="form-label">Enter your Time</span>
										<input class="form-control" type="time" name="time" required>
										
									</div>
								</div>
							</div>
                            <div class="form-group">
                                <span class="form-label">Enter your Sport</span>
								<select class="form-control" required name="Sport">
									<option value="" selected hidden></option>
									<option>Football</option>
									<option>Cricket</option>
								</select>
								<span class="select-arrow"></span>
								
							</div>
							<div class="form-group">
                                <span class="form-label">Game structure</span>
                                <select class="form-control" required name="game_structure">
									<option value=""  selected hidden></option>
									<option>Elevens</option>
									<option>Sevens</option>
								</select>
								
							</div>
							<div class="form-btn" style="float:right">
								
								<button type="submit" class="btn btn-success">Send Request</button>
							</a>
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
			</div>
	

</center>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if msg_success %}
    <script>
        Swal.fire({
            position: 'center',
            icon: 'success',
            text: '{{ msg_success }}',
            showConfirmButton: false,
            timer: 3000
        }).then(function () {
            javascript: history.go(-2);
        })
        
    </script>
	{% endif %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/accordions.js' %}"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>
<script>
    $(function() {
        var dtToday = new Date();
        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();
        var minDate = year + '-' + month + '-' + day;
        $('.txtDate').attr('min', minDate);

    })
</script>
{%endblock%}
