{% extends 'index.html' %}
{% load static %}

{%block content%}

<body  style="background-image: url({% static 'images/add_turf1.jpg' %}); background-repeat:no-repeat;background-size:cover;"></body>



<div class="container " style="padding-top:270px;padding-bottom:50px;">
    <div class="row " >
        <div class="col-lg-12 grid-margin stretch-card" style="background-color:white;">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Send Delivery date</h4>
                <div class="form-group">
                  <input type="text" class="form-control text-dark" style="color:black;" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" style="color:white;">
                   </div>
                <div class="table-responsive">
                    <table class="table table-hover " id="myTable">
                        <thead>
                            <tr>
                                <th>Sl.no</th>
                                <th>Name</th>
                                <th>Item Name</th>
                                <th>Company Name</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Quantity</th>
                            
                                <th>Color</th>
                                <th>Final Price</th>
                                <th>Delivered Date</th>
                                <th>Action</th>
                              </tr>
                        </thead>
                        <tbody>
							
							{% for i in cate %}
								
                            <tr class="alert" role="alert">
                                <td>{{forloop.counter}}</td>
                                <td>{{i.user.Firstname}}</td>
                                <td>{{i.itemname}}</td>
                                <td>{{i.companyname}}</td>
                                <td>{{i.description}}</td>
                                <td>{{i.price}}</td>
                                <td>{{i.quantity}}</td>
                                <td>{{i.color}}</td>
                                <td>{{i.finalprice}}</td>
                                <td>{{i.deliverydate|date:'d-m-Y'}}</td>
                                <td><a href="#">
                                    <div class="btn btn btn-warning" data-toggle="modal"
                                        data-target="#myModal{{i.id}}">
                                        <i class=" text-warning mdi mdi-send btn-icon-prepend"></i>Reply
                                    </div>
        
                                </a>
                                </td>
                              </tr>

							  {% endfor %}

                        
                        </tbody>
                      </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

<!-- Modal -->
{% for i in cate %}
<div class="modal" id="myModal{{i.id}}" >
    <div class="modal-dialog">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 grid-margin stretch-card bg-dark text-light modal-content" style="background-color:grey;">

            <!-- Modal Header -->
            <div class="modal-header" >
                <h4 class="modal-title">Delivery Date</h4>
                <button type="button " class="close " style="color:white;"
                    data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="{% url 'Owner_senddate' i.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row p-3">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                                   <input type="date" name="deliverydate" class="form-control">
                                </div>
                            </div>
                            <br>
                            <div  style="float:right;padding-bottom:20px;">
                                <button type="submit" 
                                    class="btn btn-outline-primary btn-icon-text ">
                                    <i class="text-primary mdi mdi-send btn-icon-prepend"></i>
                                    Send
                                </button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
{% endfor %}


    <script>

        //js for submit button in new_team.html page
        function redirect() {
            window.location.href = "projectmanager_tlreported";
        }

        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
   
 {%endblock%}


