{% extends 'index.html' %}
{% load static %}

{%block content%}



<body  >
	<section class="ftco-section" style="background-image: url({% static 'images/add_turf1.jpg' %}); background-repeat:no-repeat;background-size:cover;">
		<div style="padding-top:50px!important;"></div>
		<div class='container  mb-5' style="padding-top:230px;padding-bottom: 30px;">
	<div class='row'>
		<div class='col-md-2'></div>
		<div class='col-md-8 mt-5' style="background-color:white;">
			<div class="card p-3">
				<form method='post' class='post-form bg-light' action="{% url 'ShoppingItem_Edit_save' shopitem.id %}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="row">
						<div class="col-md-12">
							<h3>Edit Shopping Items</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label>Category</label>
                            <select class='form-control' name="category" >
								{% for i in cate %}
								<option selected hidden value="{{shopitem.category}}">--Select--</option>
								<option value="{{i.id}}">{{i.category}}</option>
								{% endfor %}
                            </select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label>Company</label>
                            <input type="text" name='company' value="{{shopitem.company}}" required class="form-control">
						</div>
					</div>
                    <div class="row">
						<div class="col-md-12">
							<label>Item</label>
                            <input type="text" name='item' value="{{shopitem.item}}" required class="form-control">
						</div>
					</div>
                    <div class="row">
						<div class="col-md-12">
							<label>Photo</label>
                            <input type="file" name='files' value="{{shopitem.photo.url}}" required class="form-control">
						</div>
					</div>
                    <div class="row">
						<div class="col-md-12">
							<label>Description</label>
                            <input type="text" name='description' value="{{shopitem.description}}" required class="form-control">
						</div>
					</div>
                    <div class="row">
						<div class="col-md-12">
							<label>Price</label>
                            <input type="text" name='price' value="{{shopitem.price}}" required class="form-control">
						</div>
					</div>

				<br>
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4 " style="padding-bottom:20px;">
							<input type="submit" value="Submit" style="background-color:green;font-size:20px;border:radius:50px;color:white;padding:10px;">

						</div>
						<div class="col-md-4"></div>
					</div>
				</form>
			</div>
		</div>
		<div class='col-md-2'></div>
	</div>
</div>



<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if msg_success %}
    <script>
        Swal.fire({
            position: 'center',
            icon: 'success',
            text: '{{ msg_success }}',
            showConfirmButton: false,
            timer: 3000
        }).then(function () {
            javascript: history.go(-2);
        })
        
    </script>
	{% endif %}

{% endblock %}